@model IEnumerable<ProjectDotNet.Models.OrderDetails>

@{
    ViewData["Title"] = "Admin - Product Management";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <!-- row -->
    <div class="row tm-content-row">
        
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                <h2 class="tm-block-title">Notification List</h2>
                <div class="tm-notification-items">
                    <div class="media tm-notification-item">
                        <div class="tm-gray-circle"><img src="~/admin/img/notification-01.jpg" alt="Avatar Image" class="rounded-circle"></div>
                        <div class="media-body">
                            <p class="mb-2">
                                <b>Jessica</b> and <b>6 others</b> sent you new <a href="#"
                                                                                   class="tm-notification-link">product updates</a>. Check new orders.
                            </p>
                            <span class="tm-small tm-text-color-secondary">6h ago.</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">Orders Details</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">ORDER ID</th>
                            <th scope="col">PRODUCT ID</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">UNIT PRICE</th>
                            <th scope="col">TOTAL</th>
                            <th scope="col">FIRST NAME</th>
                            <th scope="col">LAST NAME</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">PHONE</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">NOTE</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">DATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach ( var o in Model)
                        {
                            <tr>

                                <td>@o.ID</td>
                                <td>@o.OrderID</td>
                                <td>@o.ProductID</td>
                                <td>@o.Quantity</td>
                                <td>@o.UnitPrice</td>
                                <td>@o.Total</td>
                                <td>@o.FirstName</td>
                                <td>@o.LastName</td>
                                <td>@o.Address</td>
                                <td>@o.Phone</td>
                                <td>@o.Email</td>
                                <td>@o.Note</td>
                                <td>@o.status</td>
                                <td>@o.status</td>
                            </tr>
               @*                       public int ID { get; set; }
         public int OrderID { get; set; }
         public int ProductID { get; set; }
         public int Quantity { get; set; }
         public decimal UnitPrice { get; set; }
         public decimal Total { get; set; }
         public string FirstName { get; set; }
         public string LastName { get; set; }
         public string Address { get; set; }
         public string Phone { get; set; }
         public string Email { get; set; }
         public string Note { get; set; }
         public int status { get; set; } *@
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

